node_modules
public/hot
/vendor/
public/media/
public/vendor/
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.env
sentry-config.js
package-lock.json
composer.lock
.DS_Store